.blackboard
	$image: "bg-blackboard.jpg"
	background: image-url($image) repeat	
	h3, h4, p
		color: $color-white	
		text-align: center	
	h3, h4		
		line-height: 120%
		margin-top: 30px
		margin-bottom: 15px	
	h4
		margin-top: 105px	
		margin-bottom: 0
	p
		font-family: "Typoster_demo"
		font-size: 120%
		margin-bottom: 20px
	img
		margin: 0 auto 60px
		display: block